<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img class="logo" src="./images/logo.png" alt="Logo" />
      </div>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Favorite </a></li>
          <li><a href="https://github.com/yonand21">About Us </a></li>
        </ul>
      </nav>
    </header>

    <main>
      <!-- <h1>Restaurant Apps Starter Project</h1>
      <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
      <p>
        Jangan lupa untuk menggunakan salah satu gambar yang berada pada
        ./images/heros sebagai background hero elemen
      </p>
      <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
      <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
      <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
      <img src="./images/heros/hero-image_4.jpg" width="450" alt="" /> -->
    </main>
  </body>
</html>
