@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("./cardlist.css");
@import url("./footer.css");
@import url("./header.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "PT Sans Narrow", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #302f2f;
}

.jumbotron {
  position: relative;
  color: #1f1f1f;
  height: 500px;
  overflow: hidden;
}

.jumbotron img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.jumbotron .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  background-color: rgba(240, 238, 238, 0.5);
}

.jumbotron h1 {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 30px;
}

.jumbotron p {
  font-size: 50px;
  margin-bottom: 10px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: #bf1722;
  color: white;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 90px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger a {
    min-width: 55px;
    min-height: 55px;
    font-size: 54px;
    color: #f5d7d7;
  }
  .navbar {
    height: 0;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #a3080c;
    transition: 0.5s;
    overflow: hidden;
    z-index: 99;
  }

  .navbar.active {
    height: 400px;
  }

  .navbar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .navbar ul {
    opacity: 1;
  }

  .navbar ul li a {
    margin-bottom: 30px;
  }

  .jumbotron h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .jumbotron p {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
